<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ng if with function
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
      <mat-icon *ngIf="byFunction()" class="me-4">home</mat-icon>
    </mat-expansion-panel-header>
    <mat-slide-toggle [(ngModel)]="firstBool">Slide Toggle Checked: {{firstBool}}</mat-slide-toggle>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ng if with getter
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
      <mat-icon *appMyNgIf="byGetter" class="me-4">home</mat-icon>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    <mat-slide-toggle [(ngModel)]="secondBool">Slide Toggle Checked: {{secondBool}}</mat-slide-toggle>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        By static value
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
      <app-icon-wrapper *ngIf="thirdBool" [booleanValue]="thirdBool" class="me-4"></app-icon-wrapper>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    <mat-slide-toggle [(ngModel)]="thirdBool">Slide Toggle Checked: {{thirdBool}}</mat-slide-toggle>
  </mat-expansion-panel>
</mat-accordion>
